body{
  margin: 0;
  padding: 0;
}
th{
  background-color: #f0f0f0;
}
th, td {
  border: 1px solid #ccc;
  text-align: left;
}td {
  cursor: text;
}

td:hover {
  background-color: #f0f0f0;
}

.thead_main{
  width: 100%;
}


.thead_th{
  text-align: center;
  font-weight: 400;
  height: 20px;
  font-size: 15px;
  width: 4%;
  
}

.container_exel{
  max-width: 90%;
  margin: auto;
  margin-top: 200px;
}

.title_exel{
 margin-bottom: 0px;
 background-color: #008000;
 color: #f0f0f0;
 font-size: 25px;

}

table {
  border-collapse: collapse;
  width: 100%;
}



.thead_start{
  width: 15px;
}

.tbody_start{
  text-align: center;
  background-color: #f0f0f0; 
  width: 15px;
}